@font-face {
	font-family: myfirstfont;
	src: url(../Develop/fonts/FontsFree-Net-GR-Milesons-Three.ttf);
}

h1 {
	color: goldenrod;
	font-family: myfirstfont;
	position: relative;
	margin: 20%;

	font-size: 2rem;
}

img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: inline-flex;
	margin: 3px;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 18%;
	border: 2px solid green;
	transition: all 1.2s;
	box-shadow: 1px 1px 11px 20px rgb(25, 235, 6);
}

img::after {
	transition-duration: 1.2s;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

body {
	/* background-size: 100% auto; */
	/* margin: 0; */
	/* font-size: 17px; */

	/* background-image: url(../Develop/images/space.jpeg); */
	/* background-clip: url('../Develop/images/Pexels/ Videos/ 3867.mp4);'); */
}

li {
	font-size: 1.8rem;
	font-family: myfirstfont;
	color: green;
	margin: 5px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}

.card {
	height: 444px;
	width: 300px;
	background-color: rgba(255, 0, 0, 0.548);
	padding: 5px;
	border-radius: 12px;
	align-items: center;
	text-align: center;
	justify-content: center;
	border: 6px solid rgba(244, 247, 54, 0.575);
	float: left;
}

p {
	background-color: azure;
	border-radius: 15px;
	font-family: myfirstfont;
}

span {
	background-color: black;
	padding: 5px;
	border-radius: 10px;
	opacity: 0.8;
}
